.t{
    margin-left: 220px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    border-color: black;
    opacity: 50%;
    padding-bottom: 0.3rem;

}